html,
body {
	background: #fbfbfb;
}
body {
	margin-left: 200px;
	color: #333;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: inherit; }
ul, ol { list-style-type: none; }
img { border: none; vertical-align: top; }
a { color: #09c; }
a:hover { color: #f91; }


/* 主内容区 */
.main {
	min-width: 800px;
	line-height: 1.5;
	color: #333;
}
.main__title {
	padding: 10px;
	background: #f0f0f0;
	text-shadow: 1px 1px 0 #fff;
	font-size: 22px;
	font-weight: normal;
}
.main__body { padding: 20px; }


/* 表单布局 */
.form-layout__section { margin-top: 8px; }
.form-layout__section__title {
	margin: 8px 0;
	padding: 0 6px 6px 6px;
	border-bottom: 1px dotted #ccc;
	font-size: 16px;
}

.form-layout__row { padding: 8px 0; clear: both; }
.form-layout__section .form-layout__row { margin-left: 10px; }
.form-layout__col { float: left; min-height: 1em; }
.form-layout__row--2cols .form-layout__col { width: 50%; }
.form-layout__row--3cols .form-layout__col { width: 33%; }
.form-layout__row--3cols .form-layout__col:first-child { width: 34%; }

.form-item { margin-right: 1em; padding-right: 30px; position: relative; }
.form-item__label { height: 27px; overflow: hidden; margin: 0 0 0.5em 0.3em; }
.form-item__label .form-item__required { vertical-align: middle; }
.form-item__side {
	width: 30px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.form-item__tips {
	margin: 3px 0;
	font-style: italic;
	font-size: 0.9em;
	color: #b8b8b8;
}
.form-item__required {
	font-style: normal;
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
	color: #fd4f45;
}


/* 表单控件 */
.textbox, .selectbox {
	width: 100%;
	height: 2.5em;
	margin: 0;
	padding: 0 6px;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	background: #f9faf9;
	box-sizing: border-box;
	transition: border-color 0.6s, background 0.6s;
	font-size: 14px;
}
.textbox { resize: none; }
.textbox--larger { font-size: 16px; }
.textbox:focus { border-color: #7eb4ea; background: #fdfdfd; }
textarea.textbox { height: auto; padding-top: 9px; padding-bottom: 9px; }
.selectbox { padding-left: 0; padding-right: 0; vertical-align: middle; }

.radio-list { margin: 0 0 0 5px; }
.radio-list li { margin: 7px 0; }
.radio-list--inline li { display: inline-block; margin: 0 1em 0 0; }
.radio-list--inline li:last-child { margin-right: 0; }

.button {
	border: 1px solid #acacac;
	border-radius: 3px;
	background: #eaeaea;
	cursor: pointer;
	padding: 0.3em 1.2em;
	font-family: inherit;
	font-size: inherit;
	color: #000;
	transition-duration: 0.4s;
}
.button:hover { background: #e7f1fc; border-color: #7eb4ea; }


/* 数据表格 */
.datatable { width: 100%; border-collapse: collapse; }
.datatable th, .datatable td {
	border: 1px solid #e0e0e0;
	padding: 6px 10px;
	word-break: break-all;
	word-wrap: break-word;
}
.datatable th { background: #f1f1f1; }
.datatable .paginator { margin: 8px 0;  }

/* 删除数据链接 */
.delete { color: #fd4f45 !important; }


/* 文章页上传面板 */
.upload-panel input[type=file] { width: 0; height: 0; visibility: hidden; }
.upload-result p { margin: 0.5em 0; }
	.upload-cancel { margin-left: 1em; color: #fd4f45 !important; }
	.upload-result-message { color: #fd4f45; }
	.upload-result-path { color: #f91; margin: 0 10px; }
	.upload-result-insertlink, .upload-result-insertimg {
		margin: 0 5px;
		text-decoration: underline;
	}