body {
	font-size: 14px;
	font-family: 'Hiragino Sans GB', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0;
	background: #f5f5f5;
	line-height: 1.5;
}


.title {
	color: #fff;
	margin: 0;
	padding: 0.3em 0.5em;
	font-size: 1.8em;
	font-family: '微软雅黑';
	background: #0096ce;
}
.title--error { background: #e63636; }


.main {
	width: 50%;
	padding: 1.5em 1em;
	background: #fff;
	margin: 4em auto;
	border-radius: 6px;
	box-sizing: border-box;
	text-align: center;
}
.main a { color: #0096ce; margin: 0 0.5em; transition-duration: 0.4s; }
.main a:hover { color: #f90; text-decoration: underline; }
.main__message { margin: 1em 0; }
.main__stack { word-break: break-word; text-align: left; }
.main__links { margin-top: 2em; }